.btn{
    width: 148px;
    height: 48px;
    background-color: #2699fb;
    color: #fff;
    border-radius:  4px;
    outline: none;
    border: none;
    display:  inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    

}

.btn:active{
    background-color: #007FEB;
}

.inp {
    box-sizing: border-box;
    outline: none;
    width: 204px;
    height: 48px;
    padding: 0 20px;
    color: #48aeff;
    background-color: white;
    border: solid 1px #48aeff;
    font-size:  14px;
}

.inp::placeholder{

    color: #94d0ff;
}
.row{
    display:flex;
    flex-direction:  row;
    gap: 16px;
    margin-bottom:  4px;
    align-items: flex-end;
}

.flex-row{
    display:flex;
    flex-direction:  row;
    gap: 16px;
    margin-bottom:  4px;
    align-items: flex-end;
}

.form-inp{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.form-inp label{
    font-size: 12px;
    color: #48aeff;
}

#res {
    margin-top: 24px;
  /*  display: none;*/
  width: 588px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.res-text{
    color: #48aeff;
    text-align: center;
    
}
.res-text > div:nth-child(1){
    font-size: 32px;
    
}
.res-text > div:nth-child(2){
    font-size: 24px;
    
}
